<div class="list-group">
  <div class="item">
    <span ng-if="$ctrl.data.label" ng-click="$ctrl.showChilderen2($ctrl.data)">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.logme($ctrl.data)">{{$ctrl.data.label}}</button>
    </span>
    <div class="childeren" id="{{$ctrl.data.$$hashKey}}" ng-class="!$ctrl.data.root && !$ctrl.data.showChilderen ? 'hidden' : ''">
      <span ng-show="$ctrl.data.nodes.length > 0 || $ctrl.data.question != null">
      <button ng-click="($ctrl.data.showNodeForm = !$ctrl.data.showNodeForm)">Add node</button>
      <button ng-if="$ctrl.data.nodes.length > 0" ng-click="$ctrl.delete($ctrl.data)">Delete nodes</button>
      </span>
      <button ng-click="$ctrl.data.showChildForm = !$ctrl.data.showChildForm">Add/edit question</button>
      <span ng-show="!($ctrl.data.nodes || $ctrl.data.question)">
      <button ng-click="($ctrl.data.showNodeActionForm = !$ctrl.data.showNodeActionForm)">Add Action</button>
      </span>
      <div ng-show="$ctrl.data.showNodeForm">
        <form novalidate class="form">
          <label>label: <input type="text" ng-model="$ctrl.data.newlabel"/></label><br/>
          <input type="submit" ng-click="$ctrl.add($ctrl.data)" value="Save"/>
        </form>
      </div>
      <div ng-show="$ctrl.data.showNodeActionForm && !($ctrl.data.nodes || $ctrl.data.question)">
        <action-form $ctrl.data="$ctrl.data"></action-form>
      </div>
      <div ng-show="$ctrl.data.showChildForm" id="form-{{$ctrl.data.$$hashKey}}">
        <form novalidate class="form">
          <label>Question: <input type="text" ng-model="$ctrl.data.question"/></label><br/>
          <input type="submit" ng-click="$ctrl.addChild($ctrl.data)" value="Save"/>
        </form>
      </div>
      <span ng-show="$ctrl.data.question" class="question list-group-item">{{$ctrl.data.question}}</span>
      <div class="node">
        <span class="list-group-item" ng-repeat="data in $ctrl.data.nodes">
          <node data="data"></node>
        </span>
      </div>
    </div>
  </div>
</div>