<div class="list-group">
    <div class="item"><span  ng-if="data.label" ng-click="showChilderen2(data)">{{data.label}}</span>
        <div class="childeren" id="{{data.$$hashKey}}" ng-class="!data.root && !data.showChilderen ? 'hidden' : ''" >
        <!-- <button ng-click="add(data)">Add node</button> -->
        <!--<button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete nodes</button>-->
        <span ng-show="data.question" class="question list-group-item">{{data.question}}</span>
        <div class="node">
            <span class="list-group-item" ng-repeat="data in data.nodes" ng-include="'templates/node.html'"></span>
        </div>
        </div>
    </div>
</div>